.logo-gs {
  mask: url('@/assets/images/logo-gs.svg') center / 6rem no-repeat;
  -webkit-mask: url('@/assets/images/logo-gs.svg') center / 6rem no-repeat;
  padding: 3rem;
  background: var(--gs-primary);
}

.logo-sandbox {
  mask: url('@/assets/images/logo-sandbox.svg') center / 12rem no-repeat;
  -webkit-mask: url('@/assets/images/logo-sandbox.svg') center / 12rem no-repeat;
  padding: 1.5rem 6rem;
  background: var(--gs-blue);
}

.logo-bmz {
  background: url('@/assets/images/logo-bmz.svg') center center / 16rem no-repeat;
  width: 16rem;
  height: 8rem;
}

.logo-dia {
  background: url('@/assets/images/logo-dia.svg') center center / 16rem no-repeat;
  width: 16rem;
  height: 8rem;
}

.logo-giz {
  background: url('@/assets/images/logo-giz.svg') center center / 16rem no-repeat;
  width: 16rem;
  height: 8rem;
}

.logo-itu {
  background: url('@/assets/images/logo-itu.svg') center center / 6rem no-repeat;
  width: 16rem;
  height: 8rem;
}

.logo-roe {
  background: url('@/assets/images/logo-estonia.svg') center center / 16rem no-repeat;
  width: 16rem;
  height: 8rem;
}

.logo-x {
  background: url('@/assets/images/logo-x.svg') center center / 2rem no-repeat;
  width: 2rem;
  height: 2rem;
}

.logo-linkedin {
  background: url('@/assets/images/logo-linkedin.svg') center center / 2rem no-repeat;
  width: 2rem;
  height: 2rem;
}

.icon-linkedin {
  background: url('@/assets/images/logo-linkedin.svg') center center / 2rem no-repeat;
  width: 2rem;
  height: 2rem;
}

.icon-status-cube-active {
  background: url('@/assets/images/icon-status-cube-active.svg') center center / 1rem no-repeat;
  width: 1rem;
  height: 1rem;
}

.icon-figma {
  mask: url('@/assets/images/icon-figma.svg') center / 1rem no-repeat;
  -webkit-mask: url('@/assets/images/icon-figma.svg') center / 1rem no-repeat;
  padding: 1rem;
  background: var(--gs-white);
}

.icon-figma-primary {
  mask: url('@/assets/images/icon-figma.svg') center / 1rem no-repeat;
  -webkit-mask: url('@/assets/images/icon-figma.svg') center / 1rem no-repeat;
  padding: 1rem;
  background: var(--gs-primary);
}
