.logo-gs {
  mask: url('@/assets/images/logo-gs.svg') center / 6rem no-repeat;
  -webkit-mask: url('@/assets/images/logo-gs.svg') center / 6rem no-repeat;
  padding: 3rem;
  background: var(--gs-primary);
}

.logo-sandbox {
  mask: url('@/assets/images/logo-sandbox.svg') center / 12rem no-repeat;
  -webkit-mask: url('@/assets/images/logo-sandbox.svg') center / 12rem no-repeat;
  padding: 1.5rem 6rem;
  background: var(--gs-primary);
}
