@import './icons.css';
@import './base.css';

#app {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

.app-header .nav-links span {
  font-weight: 600;
}

.app-footer a {
  color: var(--gs-white);
  text-decoration: none;
}

.app-footer a:hover {
  color: var(--gs-white);
  text-decoration: underline;
}

/**
utils
*/

.hidden {
  display: none;
}

/**
vuetify overrides
*/

.v-expansion-panel {
  background: var(--gs-surface-light);
  border: 1px solid var(--gs-gray-light);
}

.v-expansion-panel-title {
  color: var(--gs-primary);
  font-weight: 500;
}

.v-expansion-panel__shadow {
  box-shadow: initial;
}
