@import './icons.css';
@import './base.css';

#app {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

.app-header .nav-links span {
  font-weight: 600;
}

.app-footer a {
  color: var(--gs-white);
  text-decoration: none;
}

.app-footer a:hover {
  color: var(--gs-white);
  text-decoration: underline;
}
